.hint-box {
    grid-column: 3;
    margin-top: 50px;
}
#hint-button {
    cursor: pointer; 
}
#hint-button:hover{
    border: solid #0285F1 1px;
    border-radius: 10px;
}

.hint-message{
    padding: 5px;
    font-size: 15x;
}


.hint-solution-button {
    margin-right: 10px;
    margin-top: 20px; 
    display: box;
}


.hint-modal {
    z-index: 3;
    position: absolute; 
    background-color: white;
    max-width: fit-content;
    top: -100px;
}
.hint-modal-invisible {
    display: none !important; 
}

.hint-modal-button {
    margin-left: 85%;
    text-align: center;
    width: 25px;
    height: 25px;
    padding: 2px;
    border: solid black 1px; 
    cursor: pointer;
}

.hint-modal-button:hover{
    background-color: #014780;
    color: white; 
}

.hint-content { 
    padding: 12px; 
    background-color: #014780;
    color: white;
    position:absolute; 
    bottom: 200px; 
}


.hint-message-strategy-button {
    color:white; 
    border: 1px white solid; 
    cursor: pointer;
    background-color: grey;
    padding: 5px;
    border-radius: 10px; 
}

.hint-message-strategy-button:hover {
    padding: 7px;
}

@media screen and (max-width: 1165px){
    .hint-modal-img {
        width: 200px; 
    }
    .hint-content{
        position: relative; 
        bottom: 0; 
    }

}

@media screen and (max-width: 830px) {
    .hint-modal-img {
        width: 200px; 
    }
    .hint-content{
        position: relative; 
        bottom: 0; 
    }
}